# Env
.venv/
.env
.env.local
.env.bak

# Python
*.pyc
pycache/
__pycache__/

# Django
*.log

# Db
*.sqlite3

# Static files
media/
static/

# Tests
coverage.xml
.cov_html/
htmlcov/
.coverage

# Other
dev_shell.py
